
employee_id	first_name	last_name	   salary
  1	         John          	Doe	        60000
  2	         Jane           Smith	    45000
  3	         Alice	        Brown	    70000
  4	          Bob	        Johnson	    52000
  5	         Charlie	     Davis	    48000
  6	          Eve	         Miller	    55000

```sql
SELECT temp.first_name, temp.salary
FROM (SELECT first_name, salary FROM employees WHERE salary > 50000) AS temp;

```SELECT first_name, salary 
FROM employees 
WHERE salary > 50000
```


first_name	salary
John	60000
Alice	70000
Bob	   52000
Eve	   55000

___

5. SELF JOIN
- A SELF JOIN is a regular join, but the table is joined with itself. It is useful when you want to compare rows within the same table.

- Syntax:

- sql
```sql
SELECT a.column1, b.column2
FROM table_name a, table_name b
WHERE a.column = b.column;
```

___

- FULL OUTER JOIN
- A FULL OUTER JOIN returns all records when there is a match in either left or right table. It combines the result of both LEFT and RIGHT JOIN.

- sql
```sql SELECT table1.column1, table2.column2
FROM table1
FULL OUTER JOIN table2 ON table1.column = table2.column;

___

- CROSS JOIN
- A CROSS JOIN returns the Cartesian product of the two tables, i.e., every row of the first table is combined with every row of the second table.

- sql
```sql
SELECT column1, column2
FROM table1
CROSS JOIN table2;

___

- Subquery in SELECT Clause
- You can use a subquery in the SELECT clause to compute values that depend on other queries.

- sql
```sql
SELECT name, (SELECT MAX(score) FROM grades WHERE student_id = students.id) AS highest_grade
FROM students;
```

___

- 4. Window Functions (Analytic Functions)
- Window functions perform calculations across a set of table rows related to the current row, without collapsing the result set (like GROUP BY does).

- ROW_NUMBER()

- The ROW_NUMBER() function assigns a unique sequential integer to rows within a partition of a result set.

- sql
```sql
SELECT name, department, ROW_NUMBER() OVER (PARTITION BY department ORDER BY salary DESC) AS row_num
FROM employees;
```

___

- b. RANK() and DENSE_RANK()
- RANK() provides a unique rank for each row, but it may skip ranks in the case of ties. DENSE_RANK() does not skip ranks.

- sql
```sql
SELECT name, salary, RANK() OVER (ORDER BY salary DESC) AS rank
FROM employees;

___

- c. NTILE()
- The NTILE() function divides rows into a specified number of groups and assigns a number (from 1 to N) to each row, where N is the number of groups.

```sql

SELECT name, salary, NTILE(4) OVER (ORDER BY salary DESC) AS quartile
FROM employees;

___

- Common Table Expressions (CTEs)
- A CTE is a temporary result set that you can reference within a SELECT, INSERT, UPDATE, or DELETE statement. It improves readability and can help with recursive queries.

- a. Basic CTE
```sql

WITH cte_name AS (
    SELECT column1, column2
    FROM table_name
    WHERE condition
)
SELECT *
FROM cte_name;
```
___

- b. Recursive CTE
- Recursive CTEs allow for recursive queries, such as hierarchical data (like an organizational chart).

```sql

WITH RECURSIVE cte_name AS (
    SELECT column1, column2
    FROM table_name
    WHERE condition
    UNION ALL
    SELECT t.column1, t.column2
    FROM table_name t
    INNER JOIN cte_name c ON t.column1 = c.column2
)
SELECT *
FROM cte_name;

___

- INTERSECT (Returns common results from both queries)
```sql

SELECT name FROM employees
INTERSECT
SELECT name FROM contractors;

___
- EXCEPT (Returns records from the first query not present in the second query)
```sql

SELECT name FROM employees
EXCEPT
SELECT name FROM contractors;

___

- Handling NULL Values
- COALESCE()
This function returns the first non-null value from a list of expressions.

```sql

SELECT name, COALESCE(phone, 'No phone number') AS phone_number
FROM employees;
```
- IFNULL() (MySQL) / ISNULL() (SQL Server)
- Replaces NULL with a specified value.

```sql

SELECT name, IFNULL(salary, 0) AS salary
FROM employees;

___

- Indexing and Optimizing Queries
-  Creating an Index
- Indexes are used to speed up query execution. You can create an index on one or more columns.

```sql

CREATE INDEX idx_employee_name ON employees(name);

-  Using EXPLAIN to Optimize Queries
- The EXPLAIN keyword is used to analyze and optimize SQL queries. It provides information on how the query will be executed.
```
```sql

EXPLAIN SELECT name, salary FROM employees WHERE department = 'HR';

___

- Transactions
- Transactions ensure that a series of SQL operations are performed in a way that is either fully completed or fully rolled back.

- START TRANSACTION, COMMIT, ROLLBACK

```sql
START TRANSACTION;

UPDATE employees SET salary = salary * 1.05 WHERE department = 'HR';

-- If everything is successful
COMMIT;

-- If something goes wrong
ROLLBACK;
```